<div>
  <h4>Friend details</h4>
  <p>{{model.firstName}} {{model.lastName}}</p>
</div>


<form {{action "save" on="submit"}}>
  <h5>{{errorMessage}}</h5>
  <p>
    <label>First Name:
      {{input value=model.firstName}}
    </label>
  </p>
  <p>
    <label>Last Name:
      {{input value=model.lastName}}
    </label>
  </p>
  <p>
    <label>Email:
      {{input value=model.email}}
    </label>
  </p>
  <p>
    <label>Twitter:
      {{input value=model.twitter}}
    </label>
  </p>
  <input type="submit" value="Save"/>
  <button {{action "cancel"}}>Cancel</button>
</form>
