<div class="col-8 px2 mx-auto p1 h2 center">
  <p class="">{{model.firstName}}</p>
  <p class="">{{model.lastName}}</p>
  <p class="">Email: <a href="mailto:{{model.email}}">{{model.email}}</a></p>
  <p class="">Twitter: <a href="https://twitter.com/{{model.twitter}}" target="_blank">@{{model.twitter}}</a></p>

  <p class="">{{link-to 'Edit' "friends.edit" model}}</p>
  <p class=""><a href="#" {{action "delete" model}}>Delete</a></p>
</div>
