<h3>{{model.firstName}}  {{model.lastName}}</h3>
Email: <a href="mailto:{{model.email}}">{{model.email}}</a>
Twitter: <a href="https://twitter.com/{{model.twitter}}" target="_blank">@{{model.twitter}}</a>
